<div class="providers clear-block">
  <h3><%= (p) ? p.name : ''%></h3>
  
  <table>
    <thead>
      <tr>
        <th>Clinical conditions, diagnoses, procedures (number reported)</th>
        
        <th>Avg chg</th>
        <th>Avg payed</th>
        <th>% payed</th>
      </tr>
    </thead>
    
    <tbody>
      <% _.each(_.sortBy(p.charges, function(c) { return (-1 * c.totDischg) }), function(c, i) { %>
        <tr>
          <td><%= drgs[c.drg] %> (<%= c.totDischg %>)</td>
          
          <% _.each(['avgCovChg', 'avgTotPay', 'perPay'], function(stat) { %>
            <td>
              <div class="box-plot average-coverage-charge" 
                data-median="<%= stats[statPrefix + c.drg][stat].median %>" 
                data-q25="<%= stats[statPrefix + c.drg][stat].q25 %>" 
                data-q75="<%= stats[statPrefix + c.drg][stat].q75 %>" 
                data-min="<%= stats[statPrefix + c.drg][stat].stepL %>" 
                data-max="<%= stats[statPrefix + c.drg][stat].stepU %>" 
                data-value="<%= c[stat] %>" 
                data-axis-max="<%= p['max' + stat] %>"></div>
            </td>
          <% }) %>
        </tr>
      <% }) %>
    </tbody>
  </table>
  
</div>