<div class="providers clear-block">

  <table>
    <thead>
      <tr>
        <th></th>
        <th colspan="3"><%= (p) ? p.name : ''%></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>Clinical conditions, diagnoses, procedures</th>
        
        <% if (p) { %>
          <th>Avg chg</th>
          <th>Avg payed</th>
          <th>% payed</th>
        <% } else { %>
          <th colspan="3"></th>
        <% } %>
        
        <th>US Avg chg</th>
        <th>US Avg payed</th>
        <th>US % payed</th>
      </tr>
    </thead>
    
    <tbody>
      <% _.each(drgs, function(d, i) { %>
        <% var pfound = (p) ? _.find(p.charges, function(c) {  return (c.drg === i); }) : false %>
        
        <% if (pfound) { %>
          <tr>
            <td><%= d %></td>
      
            <% if (pfound) { %>
              <td><%= _.formatCurrency(pfound.avgCovChg) %></td>
              <td><%= _.formatCurrency(pfound.avgTotPay) %></td>
              <td><%= _.formatPercentage((pfound.avgCovChg - pfound.avgTotPay) / pfound.avgCovChg) %>
            <% } else { %>
              <td colspan="3"><% if (p) { %><em>no data available<% } %></em></td>
            <% } %>
            
            <% if (stats[i]) { %>
              <td><%= _.formatCurrency(stats[i].avgCovChg.mean) %></td>
              <td><%= _.formatCurrency(stats[i].avgTotPay.mean) %></td>
              <td><%= _.formatPercentage(stats[i].perPay.mean) %>
            <% } %>
          </tr>
        <% } %>
      <% }) %>
    </tbody>
  </table>
  
</div>